.footer{
    background: #082673;
    padding-top: 52px;
    padding-bottom: 40px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__title{
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer__c{
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer__form{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:24px 42px 15px 42px;
}
.footer__form_title{
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #082673;
}
.footer__form_input{
    width: 100%;
    margin-bottom: 15px;
}
.footer__form_input input{
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.02em;
    width: 100%;
    color: #93989C;
    border: none;
    border-bottom: 1px solid #082673;
    outline: none;
}
.footer__form_input input::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #93989C;
}
.footer__form_input:last-child input{
    padding-bottom: 29px;
}
.footer__form_button{
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 0.02em;
    color: #082673;
    background: #FFFFFF;
    border: 1px solid #082673;
    text-align: center;
    width:90%;
    margin:0 auto;
    padding:12px 0;
}