.selection{
    background: rgba(77, 108, 186, 0.5);
    border: 1px solid #000000;
    margin:0 21px;
}
.selection__content{
    padding-left: 21px;
    border-right: 1px solid #000;
}
.selection__title{
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 4px;
    padding-top: 27px;
}
.selection__wrapper{
    display: flex;
}
.selection__content{
    width: 50%;
}
.selection__map{
    width: 50%;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate__items{
    display: flex;
    justify-content: center;
    gap:40px;
}

.total__items{
    margin-top: 41px;
}
.total__item{
    display: flex;
}
.total__item_title{
    background: rgba(8, 38, 115, 0.8);
    border: 1px solid #000000;
    max-width: 207px;
    width: 100%;
    padding-left:33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top:10px;
    padding-bottom: 10px;
}
.total__item_title li{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.total__item_text{
    background: #FFFFFF;
    border: 1px solid #000000;
}
.total__item:last-child .total__item_title{
    text-align: right;
    padding-right: 7px;
}
.total__item_text{
    max-width: 207px;
    width: 100%;
    background:#fff;
}
.total__info{
    display: flex;
    align-items: center;
}
.total__bed{
    margin-right: 36px;
}
.total__bed img{
    width: 114px;
}
.room__info_title, .room__info_text{
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.room__info{
    max-width: 237px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.total__item_text{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: right;
    padding-right: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}