.selection{
    background: rgba(77, 108, 186, 0.5);
    border: 1px solid #000000;
    margin:0 21px;
}
.selection__content{
    padding-left: 21px;
    border-right: 1px solid #000;
}
.selection__title{
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 4px;
    padding-top: 27px;
}
.selection__wrapper{
    display: flex;
}
.selection__content{
    width: 50%;
}
.selection__map{
    width: 50%;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate__items{
    display: flex;
    justify-content: center;
    gap:40px;
}
.rate__item{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background: url('../../../public/rate.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 140px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate__item_title{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}