.account__header{
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 80px;
}

.account__header_text{
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #082673;
}
.account__header_img{
    margin-right: 20px;
}
.items{
    display: flex;
    justify-content: space-between;
}