.news{
    padding-top: 49px;
}
.news__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.news__header_title{
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 4px;
}
.news__header_text{
    display: flex;
    align-items: center;
}
.news__header_text_content{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #93989C;
    margin-right: 15px;
}
.news__header_text_icon{
    position: relative;
    top:2px;
}
.news__items{
    display: flex;
}
.news__item_1{
    background:url('./../../../public/news-1.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 418px;
    height: 446px;
    position: relative;
    margin-right: 15px;
}
.news__item_2{
    background:url('./../../../public/news-2.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 257px;
    height: 446px;
    position: relative;
    margin-right: 15px;
}
.news__item_small_1{
    background:url('./../../../public/news-3.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 286px;
    height: 215px;
    position: relative;
    margin-bottom: 9px;
}
.news__item_small_2{
    background:url('./../../../public/news-4.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 286px;
    height: 215px;
    position: relative;
}
.news__item_content{
    position: absolute;
    left:41px;
    bottom:27px;
}
.news__item_date{
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.news__item_text{
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}
.news__wrapper{
    display: flex;
    justify-content: space-between;
}